body {
	background-image: url("oboi.png");
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	}
h1 {
	margin: 20px;
	color: #E0FFFF;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}
*{
	margin: 0;
	padding: 0;
}
#menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#menu ul li:hover > ul {
	display: block;
}
#menu li {
	float: left;
	list-style: none;
	width: 250px;
	text-align: center;
}

#menu li a {
	text-decoration: none;
	display: block;
	color: #000000;
	background: #AFEEEE;
	padding: 13px;
	border: 1px solid #E0FFFF;
}

#menu ul {
	font: bold 15px Arial;
	display: inline-table;
	position: relative;
}

#menu li a:hover {
	color: #0000CD;
}

#menu ul ul li {
	float: none;
	position: relative;
}